<DOCTYPE html>
    <html>
    <head>
        <title>Vitamino Login </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    
    <body>            
        <div class="insert">
            <div class="number">
                <input type="" id="code" name="code" required>
            </div>
            <div class="number">
                <input type="" id="code" name="code" required>
            </div>
            <div class="number">
                <input type="" id="code" name="code" required>
            </div>
            <div class="number">
                <input type="" id="code" name="code" required>
            </div>
        </div>
        
        <div>
            <button type="submit">Submeter</button>
        </div>
    </body>
    
    <footer>
        <div class="rodape">
    
        </div>
    </footer>
    </html>